<div class="row">
  <!-- Button Section -->
  <div class="col-12 p-0">
    <button *ngIf="addModal" class="btn btn-primary" (click)="addModal.open()" rippleEffect>
      <span class="d-none d-sm-inline-block">등록</span>
    </button>
    <button *ngIf="btnDelete" class="btn btn-danger ml-3" (click)="delete()" [disabled]="selectRows.length === 0" rippleEffect>
      <span class="d-none d-sm-inline-block">삭제</span>
    </button>
  </div>

  <!-- PageSize Section -->
  <div class="col-4 p-0">
    <div class="d-flex justify-content-between align-items-center">
      <label class="d-flex align-items-center">
        <select
          class="table-control form-control m-r-5"
          [(ngModel)]="pagination.size"
          (change)="onChangePageSize($event.target.value)"
        >
          <option *ngFor="let size of pageSizeList" [value]="size">{{ size }}</option>
        </select>
        <span class="table-control-label">개씩 보기</span>
      </label>
    </div>
  </div>
  
  <!-- Search Section -->
  <div class="col-8 p-0 d-flex justify-content-md-end">
    <div *ngIf="searchKeyword" class="d-flex align-items-center justify-content-end">
      <div class="m-r-5">
        <div ngbDropdown class="btn-group dropdown" placement="auto">
          <button ngbDropdownToggle type="button" class="btn btn-sm btn-primary btn-tag-search">{{ pagination.operator }}</button>
          <div ngbDropdownMenu class="dropdown-tag-search">
            <a class="dropdown-item" href="javascript:" (click)="pagination.operator = 'OR'">OR</a>
            <a class="dropdown-item" href="javascript:" (click)="pagination.operator = 'AND'">AND</a>
          </div>
        </div>
      </div>
      <div class="m-r-5">
        <tag-input 
          #tagInput
          class="tag-chips form-control"
          theme="bootstrap"
          placeholder="검색어"
          secondaryPlaceholder="검색어를 입력하세요."
          [onlyFromAutocomplete]="true"
          [modelAsStrings]="true"
          [(ngModel)]="pagination.keywords"
          (onRemove)="search()"
          (keyup)="onKeyup($event)"
          (keydown)="onKeydown($event)">
        </tag-input>
      </div>
      <div>
        <button class="btn btn-primary btn-sm btn-search" (click)="search()">검색</button>
      </div>
    </div>
  </div>
</div>

<!-- Table Section -->
<ngx-datatable
  #dataTable
  class="bootstrap core-bootstrap"
  [ngStyle]="{ 'height': 'auto' }"
  [rows]="rows"
  [columnMode]="columnMode"
  [headerHeight]="40"
  [rowHeight]="40"
  [footerHeight]="50"
  [messages]="emptyMessage"
  [selectionType]="selectionType"
  [externalPaging]="true"
  [externalSorting]="true"
  [offset]="pagination.index"
  [limit]="pagination.size"
  [count]="pagination.total"
  [selected]="selectRows"
  [sortType]="'single'"
  [sorts]="pagination.sort"
  [scrollbarV]="false"
  [loadingIndicator]="loading"
  (select)="onSelect($event)"
  (sort)="onSort($event)"
>

  <ngx-datatable-footer>
    <ng-template
      ngx-datatable-footer-template
      let-rowCount="rowCount"
      let-curPage="curPage"
      let-pageSize="pageSize"
    >
      <div *ngIf="rowCount > 0" class="page-count">
        전체 {{ rowCount }} 중 {{ (curPage - 1) * pageSize + 1 }} ~ {{ rowCount > curPage * pageSize ? curPage * pageSize : rowCount }} 출력
      </div>
      <div *ngIf="rowCount === 0" class="page-count">
        전체 0 중 0 ~ 0 출력
      </div>

      <datatable-pager
        [pagerLeftArrowIcon]="'datatable-icon-left'"
        [pagerRightArrowIcon]="'datatable-icon-right'"
        [pagerPreviousIcon]="'datatable-icon-prev'"
        [pagerNextIcon]="'datatable-icon-skip'"
        [count]="rowCount"
        [page]="curPage"
        [size]="pageSize"
        [hidden]="false"
        (change)="onChangePage($event)"
      >
      </datatable-pager>
    </ng-template>
  </ngx-datatable-footer>

  <!-- Checkbox -->
  <ngx-datatable-column
    *ngIf="btnDelete"
    [width]="50"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="false"
    [resizeable]="false"
  >
    <ng-template
      ngx-datatable-header-template
      let-value="value"
      let-allRowsSelected="allRowsSelected"
      let-selectFn="selectFn"
    >
      <div class="custom-control custom-checkbox">
        <input
          type="checkbox"
          id="{{ id }}HeaderChkbxRef"
          class="custom-control-input"
          [checked]="allRowsSelected"
          (change)="selectFn(!allRowsSelected)"
        />
        <label class="custom-control-label" for="{{ id }}HeaderChkbxRef"></label>
      </div>
    </ng-template>
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-isSelected="isSelected"
      let-onCheckboxChangeFn="onCheckboxChangeFn"
    >
      <div class="custom-control custom-checkbox">
        <input
          type="checkbox"
          id="{{ id }}RowChkbxRef{{ rowIndex }}"
          class="custom-control-input"
          [checked]="isSelected"
          (change)="onCheckboxChangeFn($event)"
        />
        <label class="custom-control-label" for="{{ id }}RowChkbxRef{{ rowIndex }}"></label>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <!-- Column -->
  <ng-container *ngFor="let key of displayColumns">
    <ngx-datatable-column
      [id]="key"
      [prop]="columns[key].prop ? columns[key].prop : key"
      [name]="columns[key].name"
      [flexGrow]="columns[key].flexGrow"
      [sortable]="columns[key].sortable !== false"
      cellClass="d-flex align-items-center"
    >
      <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            id="{{ id }}{{ key }}{{ rowIndex }}ChkbxRef"
            class="custom-control-input"
            [checked]="row[key]"
            (change)="row[key] = !row[key]; onDataSelect.emit({ index: rowIndex, data: row })"
          />
          <label class="custom-control-label" for="{{ id }}{{ key }}{{ rowIndex }}ChkbxRef"></label>
        </div>
        <div>
          {{ row[key] }}
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ng-container>
  
  <!-- Button -->
  <ng-container *ngFor="let col of buttonColumns; let i = index">
    <ngx-datatable-column
      [name]="col.name"
      [flexGrow]="col.flexGrow ? col.flexGrow : 1"
      [sortable]="false"
    >
      <ng-template ngx-datatable-cell-template let-row="row">
        <ng-container *ngFor="let btn of col.button; let j = index">
          <button class="btn btn-primary btn-sm" [ngClass]="{ 'm-l-5': j > 0 }" (click)="btn.click(row)" rippleEffect>
            <span class="d-none d-sm-inline-block">{{ btn.text }}</span>
          </button>
        </ng-container>
      </ng-template>
    </ngx-datatable-column>  
  </ng-container>

  <ngx-datatable-column *ngIf="detailModal || updateModal" name="작업" [flexGrow]="1" [sortable]="false">
    <ng-template ngx-datatable-cell-template let-row="row">
      <button
        *ngIf="detailModal"
        [ngClass]="{ 'm-r-5': updateModal }"
        class="btn btn-primary btn-sm"
        (click)="detailModal.open(row)"
        rippleEffect
      >
        <span class="d-none d-sm-inline-block">상세</span>
      </button>
      <button
        *ngIf="updateModal"
        class="btn btn-primary btn-sm"
        (click)="updateModal.open(row)"
        rippleEffect
      >
        <span class="d-none d-sm-inline-block">수정</span>
      </button>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>
