.form-group.hidden { 
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}

// Datepicker
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: #0C4160;
  color: #fff;
}
.custom-day.faded {
  background-color: #0C416050;
}